version: "3.9"

services:
  spade:
    build: .
    container_name: spade_finetune
    working_dir: /workspace
    volumes:
      - .:/workspace
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: ["python", "src/train_spade.py"]
